<!DOCTYPE html>
<html lang="en">
    <!--Head-->
    <%- include('./partials/footer.ejs') %>
<body>
    <!--Nav-->
    <%- include('./partials/footer.ejs') %>
    <p>This is the log out page</p>
    <%- include('./partials/footer.ejs') %>
</body>
</html>